*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

body {
   line-height: 1;
   /* ====ІНДИВІДУАЛЬНО==== */
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}

html,
body {
   height: 100%;
   min-width: 320px;
}

input {
   outline: none;
}

main {
   flex: 1 1 auto;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

/* ====ІНДИВІДУАЛЬНО==== */

[class*=__conteiner] {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0px 10px;
}



/* 
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal; */

/* ======================================== */


/* HEADER */

.header {
   background-color: #177165;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
}

.header__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
}

.header__logo {
   width: 162px;
   z-index: 3;
}

.header__logo a {
   width: 100%;
   transition: all 0.5s ease;
}

.header__logo a:hover {
   filter: drop-shadow(0 0 5px #fff);
}

.header__nav-links {
   display: flex;
   align-items: center;
   gap: 40px;
}

.header__nav-link {
   color: #A4D6CF;
   transition: all 0.5s ease;
   text-transform: uppercase;
   font-size: clamp(0.813rem, 0.527rem + 0.6vw, 1.063rem);
}

.header__nav-link:hover {
   color: #fff;
   scale: 1.2;
}

.header__calls {
   display: flex;
   align-items: center;
   gap: 20px;
   transition: all 0.5s ease;
}

.header__phone {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;

}

.header__phone p {
   font-size: clamp(0.813rem, 0.527rem + 0.6vw, 1.063rem);
   color: #A4D6CF;
}

.header__phone a {
   color: #fff;
   font-size: clamp(0.813rem, 0.527rem + 0.6vw, 1.063rem);
}

.header__burger {
   z-index: 3;
   position: relative;
   width: 30px;
   height: 22px;
   display: none;
   transition: all 0.5s ease;
}

.header__burger span,
.header__burger::before,
.header__burger::after {
   content: '';
   position: absolute;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #fff;
   transition: all 0.5s ease;
}

.header__burger span {
   top: 10px;
}

.header__burger.active span {
   opacity: 0;
}

.header__burger::before {
   top: 0;
}

.header__burger.active::before {
   top: 10px;
   transform: rotate(45deg);
}

.header__burger::after {
   bottom: 0;
}

.header__burger.active::after {
   bottom: 10px;
   transform: rotate(-45deg);
}

.header__nav-body {
   transition: all 0.5s ease;
}

@media(max-width: 836px) {
   .header__nav-links {
      gap: 22px;
   }

   .header__calls img {
      width: 35px;
   }
}

@media(max-width: 767px) {
   .header__burger {
      display: block
   }

   .header__nav-link {
      color: #fff;
      font-size: 18px;
   }

   .header__nav-body {
      position: absolute;
      left: -100%;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: url('/img/burger_bg.png') 0 0 no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 2;
   }

   .header__nav-body::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(35, 48, 0, 0.555);
      z-index: -1;
   }

   .header__calls {
      position: absolute;
      left: -100%;
      transition: all 0.5s ease;
   }

   .header__nav-body.open {
      left: 0;
      top: 0;
   }

   .header__nav-links {
      display: flex;
      gap: 30px;
      align-items: start;
      flex-direction: column;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-10%, -50%);
      font-family: "Playfair Display", serif;
      font-weight: 600;
   }
}

/* ===================================== */


/* MIXIN */

.dash-green {
   color: #A4D6CF;
   font-weight: 400;
   font-size: 17px;
   line-height: 29.25px;
   display: flex;
   align-items: center;
}

.dash-green::before {
   content: '';
   background-color: #A4D6CF;
   margin: 0px 30px 0px 0px;
   flex: 0 0 40px;
   height: 1px;
}

.dash-grey {
   color: #777;
   font-weight: 400;
   font-size: 17px;
   line-height: 29.25px;
   display: flex;
   align-items: center;
}

.dash-grey::before {
   content: '';
   background-color: #777;
   margin: 0px 30px 0px 0px;
   flex: 0 0 40px;
   height: 1px;
}

.button {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   align-items: center;
   padding: 9px 40px;
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;
   transition: all 0.5s ease;
}

.button a {
   color: #177165;
}

.button:hover img {
   transform: rotate(180deg);
   scale: 1.8;
   transition: all .8s ease;
   filter: drop-shadow(0px 0px 1px #fff);
}

.button:hover {
   scale: 1.2;
}

/* ========================================= */


/* main */
/* ======HELO================ */


.hello {
   background: #177165;
   min-height: 100vh;
   padding-top: 120px;
}

.hello__conteiner {}

.hello__body {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.hello__informations {
   flex: 1 1;
   display: flex;
   gap: 20px;
   flex-direction: column;
}

.hello__dash-buttom {
   flex: 1 1 auto;
}

.dash-green {}

.hello__informations-tittle {
   font-family: Playfair Display;
   font-weight: 400;
   font-size: clamp(1.5rem, -1.071rem + 5.36vw, 3.75rem);
   line-height: clamp(2.5rem, 0.857rem + 4.46vw, 4.875rem);
   color: #fff;
}

.hello__button {
   background-color: #fff;
   width: 220px;
   text-align: center;
   margin: 0px 0px 80px 0px;
   transition: all 0.5s ease;
   border-radius: 10px;
}

.hello__image {
   width: clamp(300px, 30vw, 550px);
   height: clamp(550px, 40vw, 760px);
   margin: 0px 0px 80px 0px;
}

.hello__image img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}

@media(max-width: 689px) {
   .hello__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
   }

   .hello__button {
      margin-bottom: -30px;
   }
}

/* ============================== */