.header {
   background-color:#177165;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
}
.header__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
}

.header__logo {
   width: 162px;
   z-index: 3;
}
.header__logo a{
   width: 100%;
   transition: all 0.5s ease;
}
.header__logo a:hover {
   filter: drop-shadow(0 0 5px #fff);
}

.header__nav-links {
      display: flex;
      align-items: center;
      gap: 40px;
}

.header__nav-link{
   color: #A4D6CF;
   transition: all 0.5s ease;
   text-transform: uppercase;
   font-size: clamp(0.813rem, 0.527rem + 0.6vw, 1.063rem);
}
.header__nav-link:hover{
   color: #fff;
   scale: 1.2;
}

.header__calls {
   display: flex;
   align-items: center;
   gap: 20px;
   transition: all 0.5s ease;
}

.header__phone {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;

}
.header__phone p{
   font-size: clamp(0.813rem, 0.527rem + 0.6vw, 1.063rem);
   color: #A4D6CF;
}

.header__phone a {
   color: #fff;
   font-size: clamp(0.813rem, 0.527rem + 0.6vw, 1.063rem);
}
.header__burger{
   z-index: 3;
   position: relative;
   width: 30px;
   height: 22px;
   display: none;
   transition: all 0.5s ease;
}
.header__burger span,
.header__burger::before,
.header__burger::after {
   content: '';
   position: absolute;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #fff;
   transition: all 0.5s ease;
}
.header__burger span{
   top: 10px;
}
.header__burger.active span{
   opacity: 0;
}
.header__burger::before{
   top: 0;
}
.header__burger.active::before {
   top: 10px;
   transform: rotate(45deg);
}
.header__burger::after{
   bottom: 0;
}
.header__burger.active::after {
   bottom: 10px ;
   transform: rotate(-45deg);
}
.header__nav-body{
   transition: all 0.5s ease;
}
@media(max-width: 836px) {
   .header__nav-links {
      gap: 22px;
   }
   .header__calls img{
      width: 35px;
   }
}
@media(max-width: 767px){
   .header__burger{
      display: block
   }
   .header__nav-link {
      color: #fff;
      font-size: 18px;
   }
   .header__nav-body{
      position: absolute;
      left: -100%;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: url('/img/burger_bg.png') 0 0 no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 2;
   }

   .header__nav-body::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(35, 48, 0, 0.555);
      z-index: -1;
   }
   .header__calls{
      position: absolute;
      left: -100%;
      transition: all 0.5s ease; 
   }
   .header__nav-body.open{
      left: 0;
      top: 0;
   }
   .header__nav-links{
      display: flex;
      gap: 30px;
      align-items: start;
      flex-direction: column;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-10% ,-50%);
      font-family: "Playfair Display", serif;
      font-weight: 600;
   }
};